 <!-- About Section -->
    <section class="success" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>
                      We believe Hong Kong professionals working at the realms of technology and creativity are highly skilled but more than often those skills end up buried deep and unused in organisations.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      Software development, building more collaborative teams, and achieving overall business agility are just some of the topics that will be covered on the day, through speakers, workshops and chances to network with other Agile thinkers in Hong Kong.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      It doesn’t matter if you know nothing about Agile, are looking to learn from others, or to share your expertise – there will be something for you on this day. We will have streams covering organisations, people, practices and technology.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Organisers</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="http://www.pedropimentel.com" target="_blank">
                    <img src="img/pedro.jpg" class="profile" alt="Pedro Pimentel"/>
                    <p>Pedro Pimentel</p>
                  </a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="https://www.odd-e.com/about/steven.html" target="_blank">
                    <img src="img/steven.jpg" class="profile" alt="Steven Mak"/>
                    <p>Steven Mak</p>
                  </a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="https://www.linkedin.com/in/sandeep-rakhra-63272a5/" target="_blank">
                    <img src="img/sandeep.jpg" class="profile" alt="Sandeep Rakhra"/>
                    <p>Sandeep Rakhra</p>
                  </a>
                </div>
                <!-- template
                <div class="col-md-4 text-center">
                  <img src="img/steven.jpg" class="profile" alt="You"/>
                  <p>You</p>
                </div>
                -->
            </div>
        </div>
    </section>
