    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Venue Sponsor</h3>
                        <p>
                          <a href="https://www.credit-suisse.com/hk/en.html" target="_blank">Credit Suisse</a>
                        </p>
                        <h3>Sponsors</h3>
                        <p><a href="http://www.why-innovation.com" target="_blank">Why Innovation!</a></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.previous_conf }}</h3>
                        <p>
                            <ul>
                                <li align=left><a href="http://at2016.agiletour.org/hong-kong.html" target="_blank">Agile Tour Hong Kong 2016</a></li>
                                <li align=left><a href="http://conf.agilehk.org" target="_blank">Agile Hong Kong Conference 2016</a></li>
                                <li align=left><a href="http://at2012.agiletour.org/hong-kong.html" target="_target">Agile Tour Hong Kong 2012</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
