<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Registration</h2>
                <hr class="star-primary">
                <p>
                  Early bird limited tickets are priced only 100 HKD. You can get yours with our <a href="https://www.eventbrite.hk/e/agile-hong-kong-conference-2017-tickets-34413473626" target="_blank" class="registration"><big>ticketing partner</big></a>.
                </p>
            </div>
        </div>
    </div>
</section>
